
#p5_loading
{
    margin-top: 50vh;
}

html
{
    margin-left: 0;
    padding-left: 0;
/*    font-family: robo;
*/    text-align: center;
    color: white;
    background-color: #141414;
}
body
{
    margin:0;
    padding-left: 0;  
    max-width: 100vw;
    display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
